@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #1e1e2e;
    color: #cdd6f4
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Bungee', sans-serif;
    word-spacing: .3em;
}

#footer {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Alinea verticalmente */
    gap: 10px; /* Espaciado entre los elementos */
    padding-bottom: 1%;
    font-family: 'Montserrat', sans-serif;
}

#footer a {
    text-decoration: none;
    color: #a8bbfc;
    font-family: 'Montserrat', sans-serif;
}

#footer a:hover {
    text-decoration: underline;
}

#github {
    display: flex;
    align-items: center; /* Asegura la alineación del logo con el texto */
}

#github img {
    width: 26px; /* Tamaño del logo */
    height: auto;
    transition: filter 0.3s ease-in-out;
}

#github:hover img {
    filter: invert(40%);
}