<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4J093GTZ1P"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-4J093GTZ1P');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/games.css">
    <link type="image/webp" href="/assets/favicon.webp" rel="icon">
    <meta name="description" content="replace_description">
    <meta name="keywords" content="replace_keywords"> 
    <title>Classroom</title>
</head>
<body>
    <div id="title">
        <h1 id="game-title"> <!-- GAME_TITLE --> </h1>
        <a href="/">
            <button id="back">        
                <img src="/assets/home.webp">
            </button>
        </a>
        <button id="fullscreen">        
            <img src="/assets/fullscreen.webp">
        </button>
    </div>
    <div id="game-container"> <!-- GAME_IFRAME --> </div>
    <div id="footer">
        <a href="https://tally.so/r/3yoBvW" target="_blank">Sugerir un juego</a> -
        <a href="https://github.com/fgbbd/estudiandoduro" target="_blank" id="github">
            <img src="/assets/github.webp" alt="Logo GitHub">
        </a>
    </div>
    <script src="/game.js"></script>
</body>
</html>
