<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link type="image/webp" href="/assets/favicon.webp" rel="icon">
    <meta name="description" content="Estudiando duro, una pagina donde estudiar duro con juegos gratuitos sin anuncios. Slope 2, Slope, Geometry Dash, Slowroads, Madalin Stunt Cars 2, Subway Surfers y muchos más. ">
    <meta name="keywords" content="estudiando-duro, estudiando duro, juegos, games, unblocked, gratis">
    <title>Classroom</title>
</head>

<body>
    <h1>Estudia duro con los siguientes artículos científicos</h1>
    <div id="search-container">
        <input type="text" name="buscador" placeholder="Busca un juego" id="buscador">
        <span id="clear-icon">&#10006;</span>
    </div>
    <button id="unblocked-webs">
        Otras páginas
    </button>
    <div id="unblocked-popup" style="display: none;">
        <button id="close-unblocked-popup">X</button>
        <div class="game-popup-content">
            <!--POPUP_LIST-->
        </div>
    </div>
    <div class="games-list" id="games-list">
        <!-- GAMES_LIST -->
    </div>
    <div id="no-match" style="display: none">
        Aún no tenemos ese juego, pero puedes <a href="#" id="suggest-link" target="_blank"> sugerirlo aquí. </a>
    </div>
    <div id="footer">Creado por Álvaro V. -
        <a href="https://tally.so/r/3yoBvW" target="_blank">Sugerir un juego</a> -
        <a href="https://github.com/fgbbd/estudiandoduro" target="_blank" id="github">
            <img src="/assets/github.webp" alt="Logo GitHub" width="26px">
        </a>
    </div>
    <script src="/index.js"></script>
</body>
</html>