@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #1e1e2e;
    color: #cdd6f4
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Bungee', sans-serif;
    word-spacing: .3em;
}