@import "tailwindcss";

@theme {
    --font-primary: 'Montserrat';
    --font-header: 'Bungee'
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf');
}

@font-face {
    font-family: 'Bungee';
    src: url('/fonts/Bungee.ttf');
}