---
import "../styles/global.css";
import "../styles/games.css";

import Analytics from '@vercel/analytics/astro'
import SpeedInsights from '@vercel/speed-insights/astro'
---
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/webp" href="/assets/icons/favicon.svg" rel="icon">
    <meta name="description" content="replace_description">
    <meta name="keywords" content="replace_keywords">
    <title>Classroom</title>
</head>
<body>
    <header id="title" aria-hidden="true">
        <h1 id="game-title"> <!-- GAME_TITLE --> </h1>
        <a href="/">
            <button id="back" class="upper-buttons">
                <img src="/assets/icons/home.svg">
            </button>
        </a>
        <button id="fullscreen" class="upper-buttons">
            <img src="/assets/icons/fullscreen.svg"">
        </button>
        <button id="favorite" class="upper-buttons">
            <img src="/assets/icons/favorite.svg">
        </button>
    </header>
    <main id="game-container" aria-hidden="true"> <!-- GAME_IFRAME --> </main>
    <footer id="footer" aria-hidden="true">
        <a href="https://tally.so/r/3yoBvW" target="_blank">Sugerir un juego</a> -
        <a href="https://github.com/fgbbd/estudiandoduro" target="_blank" id="github">
            <img src="/assets/icons/github.svg" alt="Logo GitHub">
        </a>
    </footer>
    <div id="miguelon">
        <div id="miguelon-texto"><div id="miguelon-frase"></div></div>
        <img src="/miguel/miguelon.webp" alt="Imagen de Miguelón enfadado" id="miguelonImg">
    </div>
    <script src="/miguel/miguelon.js"></script>
    <script src="/game.js"></script>
    <script type="module">
        import { inject } from 'https://esm.sh/@vercel/analytics';
        import { injectSpeedInsights } from 'https://esm.sh/@vercel/speed-insights';

        injectSpeedInsights();
        inject();
    </script>
</body>
</html>
