a {
    color: #cdd6f4;
    text-decoration: none;
    font-family: 'Bungee', sans-serif;
}

.games-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 10px;
}

.game-item {
    border: 2px solid #ddd;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.game-item:hover {
    transform: scale(1.1);
}

.thumb {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

#search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Espaciado entre el input y el botón */
    width: 50%;
    margin: 20px auto;
    position: relative;
}

.favorites {
    border: 3px solid #ffcc00;
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.5);
    position: relative;
}

/* Estilo del botón */
#other-webs {
    background-color: #333347;
    color: #cdd6f4;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: hand;
    transition: background 0.3s ease, transform 0.2s ease;
    height: 45px;
}

/* Contenedor del dropdown */
.dropdown {
    position: relative; /* Para que el menú se posicione en relación con el botón */
}

/* Menú desplegable */
#other-webs-options {
    position: absolute;
    top: 100%; /* Justo debajo del botón */
    left: 0;
    width: 100%;
    background-color: #1e1e2e;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s, transform 0.4s;
}

/* Mostrar menú al pasar el mouse */
.dropdown:hover #other-webs-options {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.dropdown:hover #other-webs {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


/* Estilos de las opciones del menú */
.opcion {
    display: block;
    padding: 10px;
    color: #cdd6f4;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: background 0.3s ease;
}

.opcion:hover {
    background-color: #333347;
}

/* Buscador */
input {
    background-color: #333347;
    color: #cdd6f4;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 15px;
    border: none;
    border-radius: 10px;
    width: 55%;
    display: block;
    margin: 0;
    text-align: center;
    outline: none;
    height: 15px;
}

/* Efecto al enfocar */
input:focus {
    background-color: #44445a;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

#clear-icon {
    position: absolute;
    right: 31%; /* Position from the right edge of the container */
    top: 48%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #cdd6f4;
    cursor: pointer;
    display: none; /* Oculta la cruz por defecto */
  }

#clear-icon:hover {
    color: #fff
}

/* Mostrar la cruz cuando el input tiene texto */
input:not(:placeholder-shown) + #clear-icon {
    display: block;
}


/* No match */
#no-match {
    background-color: #2a2a3c; /* Fondo oscuro, en tono complementario con los otros colores */
    color: #cdd6f4; /* Color claro para el texto */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    transition: opacity 0.3s ease-in-out;
    font-size: 2rem;
}

#no-match a {
    text-decoration: underline;
    color: #a8bbfc;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

#no-match a:hover {
    text-decoration: none;
}

/* Media Queries para ajustar la cantidad de columnas en pantallas más pequeñas */
@media (max-width: 1200px) {
    .games-list {
        grid-template-columns: repeat(4, 1fr); /* 4 columnas en pantallas medianas */
    }
}

@media (max-width: 900px) {
    .games-list {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas pequeñas */
    }
}

@media (max-width: 600px) {
    .games-list {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas muy pequeñas */
    }
}

@media (max-width: 400px) {
    .games-list {
        grid-template-columns: 1fr; /* 1 columna en pantallas extra pequeñas */
        padding: 20px; /* Reducir padding para pantallas más pequeñas */
    }
}
