---
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout>
  <h1>404 - Por aquí no se estudia duro</h1>
  <!-- Imagen grande -->
  <p>Haz click <a href="/">aquí</a> para ir a la página principal.</p>
  <img src="https://http.cat/404" alt="Error 404">
  <style>
    body {
      background-color: #1e1e2e;
      color: #cdd6f4;
      text-align: center
    }
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 20px;
      margin-top: 20px;
    }
    img {
      max-width: 100%;
    }
    a {
      color: #a8bbfc
    }
    a:hover {
      text-decoration: none;
    }
  </style>
</BaseLayout>