<footer id="footer" aria-hidden="true">
    <a href="https://tally.so/r/3yoBvW" target="_blank">Sugerir un juego</a> -
    <a href="https://github.com/fgbbd/estudiandoduro" target="_blank" id="github">
      <img src="/assets/icons/github.svg" alt="Logo GitHub" width="26px" />
    </a>
</footer>