<footer class="flex justify-center items-center gap-2.5 pb-1 font-primary" aria-hidden="true">
    <a href="https://tally.so/r/3yoBvW" target="_blank" class="text-[#a8bbfc] hover:underline">Sugerir un juego</a> -
    <a href="https://github.com/fgbbd/estudiandoduro" target="_blank" class="flex items-center">
      <img src="/assets/icons/github.svg" alt="Logo GitHub" class="w-6 h-auto transition-filter duration-300 ease-in-out hover:filter hover:invert-40"/>
    </a>
</footer>