---
const { name } = Astro.props;
---
<header id="title" aria-hidden="true">
    <h1 id="game-title">{name}</h1>
    <a href="/">
        <button id="back" class="upper-buttons">
            <img src="/assets/icons/home.svg">
        </button>
    </a>
    <button id="fullscreen" class="upper-buttons">
        <img src="/assets/icons/fullscreen.svg">
    </button>
    <button id="favorite" class="upper-buttons">
        <img src="/assets/icons/favorite.svg">
    </button>
</header>