---
import SearchBar from './SearchBar.astro';
---
<header aria-hidden="true">
  <h1 class="text-center underline font-bold font-header tracking-wider text-[2em]">Estudia duro con los siguientes artículos científicos</h1>
  <SearchBar/>
  <div id="no-match" style="display: none">
    Aún no tenemos ese juego, pero puedes <a href="#" id="suggest-link" target="_blank"> sugerirlo aquí. </a>
</div>
</header>