<div id="miguelon" class="show bg-[#cdd6f4] text-[#1e1e2e] font-primary p-2.5 fixed right-10 bottom-12 w-[30%] h-[10%] rounded-[15px] rounded-br-none opacity-100 transform translate-y-[60px] transition-all duration-500 ease-[cubic-bezier(0.25,0.8,0.25,1)] pb-[2.2vh] z-[999]">
    <div id="miguelon-texto" class="absolute h-[80%] w-[80%] right-[-2.2vh]"><div id="miguelon-frase" class="font-medium text-[15px] p-1.25 pl-0 pt-2.5 max-w-[90%]"></div>Por favor</div>
    <img src="/assets/img/miguel.webp" alt="Imagen de Miguelón enfadado" id="miguelonImg" class="rounded-[10px] w-[11vh] h-[11vh]">
</div>
<script src="/scripts/miguelon.js" defer></script>