---
import webs from '../data/webs.json'
---
<div id="search-container">
  <input type="text" name="buscador" placeholder="Busca un juego" id="buscador" />
  <span id="clear-icon">&#10006;</span>
  <div class="dropdown">
    <button id="other-webs">Otras páginas</button>
    <div id="other-webs-options">
      {webs.map((web) => (
        <a href={`/web/${web.dir}`} class="opcion">{web.name}</a>
      ))}
    </div>
  </div>
</div>