---
const { name, link } = Astro.props;
---
<header id="title" aria-hidden="true">
    <h1 id="game-title">{name}</h1>
    <a href="/">
        <button id="back" class="upper-buttons">
            <img src="/assets/icons/home.svg">
        </button>
    </a>
    <button id="fullscreen" class="upper-buttons">
        <img src="/assets/icons/fullscreen.svg">
    </button>
    <a id="open" class="upper-buttons" href={link} target="_blank">
        <img src="/assets/icons/open.svg" style="margin-top: 17%;">
    </a>
</header>