---
import games from '../../data/games.json';
import BaseLayout from '../../layouts/BaseLayout.astro';
import '../../styles/games.css';
import '../../styles/global.css';
import GameHeader from '../../components/GameHeader.astro';
import Footer from '../../components/Footer.astro';

// 2. Ruta dinámica
export async function getStaticPaths() {
  return games.map((game) => ({
    params: { dir: game.dir }
  }));
}

// 3. Cargamos los datos del juego actual
const { dir } = Astro.params;
const game = games.find((g) => g.dir === dir);

if (!game) throw new Error("Juego no encontrado");
---
<BaseLayout>
  <GameHeader name={game.name}/>
  <main id="game-container" aria-hidden="true">
    {game.type === 1 && (
      <iframe src={`https://storage.googleapis.com/estudiandoduro/${game.dir}/index.html`} width="100%" height="600px" frameborder="0" scrolling="no"></iframe>
    )}
    {game.type === 2 && (
      <iframe src={game.url} width="100%" height="600px" frameborder="0" scrolling="no"></iframe>
    )}
  </main>
  <Footer />
  <script src="/scripts/game.js" is:inline></script>
</BaseLayout>