---
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from '@vercel/speed-insights/astro';
---
<html lang="es" class="bg-[#1e1e2e] text-[#cdd6f4]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/webp" href="/assets/icons/favicon.svg" />
    <link
      rel="preload"
      href="/fonts/Bungee.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Montserrat.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <Analytics />
    <SpeedInsights />
    <title>Classroom</title>
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>