---
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from '@vercel/speed-insights/astro';
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/webp" href="/assets/icons/favicon.svg" />
    <title>Classroom</title>
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>